{% extends "base.html.twig" %}

{% block title 'Éditer cette unité' %}

{% block body %}   
    <div class="container mt-4">
        <h1>Éditer l'unité</h1>
        {{ include("admin/measure_unit/_form.html.twig", {form: form, button: 'Éditer'}) }}
    </div>

{% endblock %}