{% extends "base.html.twig" %}

{% block title 'Bienvenue!' %}

{% block body %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Mes menus faciles</h1>
            <p>Plus de temps perdu à faire les listes de recettes pour la semaine !</p>
        </div>
    </div>
{% endblock %}