{% block body %}
    <h2>Mes repas</h2>
    <ul>
        {% for meal_planning in meal_plannings %}
            <li>{{meal_planning.beginAt|date('d-m-Y')}} - {{meal_planning.title}}</li>
        {% endfor %}
    </ul>

    <h2>Ma liste de courses</h2>
    <ul>
        {% for ingredient in finalIngredients %}
            <div class="form-group"><label><input type="checkbox">{{ingredient}}</label><br></div>
        {% endfor %}
    </ul>
{% endblock %}