<h2>Mes repas</h2>
<ul>
    {% for meal_planning in meal_plannings %}
        <li>{{meal_planning.title}}</li>
    {% endfor %}
</ul>

<h2>Ma liste de courses</h2>
<ul>
    {% for ingredient in listIngredients %}
        <li>{{ ingredient.name}} : {{ ingredient.quantity }} {{ ingredient.unit }}</li>
    {% endfor %}
</ul>