/*--HOMEPAGE--*/

#blocPage{
    width: 100%;
    margin: auto;
}
#navBar{
    background-color: white;
}
#bandeauTitre{
    /*background-color: #5ee5a1 !important;*/
    background-color: #fbac03;
}
h1, #bandeauTitre p{
    color: #393836;
}
h2.home{
    margin-top: 20px;
    margin-bottom: 20px !important;
}
footer{
    margin-top: 30px; 
    margin-bottom: 0px !important;
    background-color: #fbac03 !important;
    opacity: 0.8;
    height: 50px;
    padding: 10px;
}
.recipeCard{
    box-shadow: inset 0px 0px 15px #888;
}
.recipeCard a{
    color: #fbac03;
}
.recipeCard a:hover{
    text-decoration: none;
}
.btn.btn-primary{
    background-color: #fbac03 !important;
    border: #fbac03 !important;
    color: black;
}
#external-events h5 button{
    color: #212529;
}
#external-events p{
    color: #fbac03;
}
.fc-event{
    background-color: #fbac03;
    border: #fbac03;
    color: #212529;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 2px;
}
tr th.fc-day-header{
    background-color: #fbac03;
}
#goDirectlyToCalendar{
    text-decoration: none;
    color: #212529;
    margin-left: 10px;
}
.removebtn {
    color:black;
    position: absolute;
    top: 0;
    right: 0;
    width:13px;
    height: 13px;
    text-align:center;
    border-radius:50%;
    font-size: 10px;
    cursor: pointer;
    background-color: #FFF
}
#drop-remove label{
    font-size:11px;
}
#linksCalendar{
    display:flex;
}
#throwPhoto{
    margin-top:15px; 
    margin-bottom: 15px;
}

/*--LIST OF RECIPES--*/

.h1.allRecipes{
    margin-top: 20px;
    margin-bottom: 20px !important;
}
.page-link{
    color: #fbac03 !important;
}
.page-item.active .page-link{
    color: white !important;
    background: #fbac03 !important;
    border: 2px #fbac03 !important;
}

/*--SHOW RECIPE--*/
#blocRecipe{
    display: flex;
    margin-top: 15px;
}
#blocRecipe img{
    width: 100%; 
    height: auto;
    border-radius: 5px;
}
/* #allBlockRecipe{
    border: 3px solid #fbac03 !important;
    border-radius: 5px;
} */
#contentRecipe{
    background: #fbac03 !important;
    border-radius: 5px;
    opacity: 0.8;
    margin-right: 15px;
}
#contentRecipe h1{
    margin-top: 15px;
    margin-bottom: 20px;
}
#ingredientsAndDescription{
    display: flex;
    margin-top: 20px;
}
#ingredients{
    background: #fbac03 !important;
    border-radius: 5px;
    opacity: 0.8;
    margin-right: 15px;
    padding: 20px;
    height: max-content !important;
}
#recipeDescription{
    border: 3px solid #fbac03 !important;
    border-radius: 5px;
    opacity: 0.8;
    margin-right: 15px;
    padding: 20px;
}

/*Recipe details*/
/* #contentRecipe{
    background-color: rgb(4, 202, 202);
    border-radius: 3px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
#detailsRecipe{
    background-color: cadetblue;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 3px; 
} */

/*--RESPONSIVE--*/

@media screen and (max-width: 600px) {
    
    /*--Homepage--*/
    #external-events > p{
        display: none;
    }
    #accordion {
      display: none;
    }
    body .fc{
        font-size: 0.9rem;
    }
    .fc-today-button{
        display: none;
    }
    .fc-toolbar h2{
        font-size: 1.1rem;
    }
    .fc-button .fc-icon{
        font-size: 0.9rem;
    }

    /*--Show recipe--*/
    #divImg{
        margin: auto;
        margin-bottom: 40px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    #contentRecipe{
        margin:auto;
        margin-right: 0px !important;
        margin-left: 0px !important;
        margin-bottom: 0px !important;
        width: 100%;
        border: 3px solid #fbac03 !important;
        background-color: white !important;
        border-radius: 5px;
        opacity: 0.8;
        margin-right: 15px;
        padding: 20px;
    }
    #ingredientsAndDescription{
        margin-top: 0px !important;
    }
    #allBlockRecipe{
        margin-top: 25px !important;
    }
}


/* Autocomplete CSS */
.algolia-autocomplete {
    width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
    width: 100%;
}
.algolia-autocomplete .aa-hint {
    color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid #999;
    border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
}
