/*--GENERAL--*/
html, body {
    height: 100%;
    margin: 0;
}
#blocPage{
    width: 100%;
    margin: auto;
    min-height: 100%;
    margin-bottom: -50px;
}
#navBar{
    background-color: white;
}
.push{
    height: 50px;
}
footer{
    background-color: #fbac03 !important;
    opacity: 0.8;
    height: 50px;
    padding: 10px;
}
.btn.btn-primary{
    background-color: #fbac03 !important;
    border: #fbac03 !important;
    color: black;
}

/*--HOMEPAGE--*/

#bandeauTitre{
    background-color: #fbac03;
}
.homepage h1, #bandeauTitre p{
    color: #393836;
}
.homepage h2.home{
    margin-top: 20px;
    margin-bottom: 20px !important;
}
.homepage{
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}
.homepage .homeLastRecipes{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.homepage .recipeCard{
    box-shadow: inset 0px 0px 15px #888;
    width: 22%;
}
.homepage .recipeCard a{
    color: #fbac03;
}
.homepage .recipeCard a:hover{
    text-decoration: none;
}
.homepage #external-events h5 button{
    color: #212529;
}
.homepage #external-events p{
    color: #fbac03;
}
.homepage .dropRemoveCalendar{
    display: flex;
    margin-top: 10px;
    font-size: 14px;
}
.homepage .dropRemoveCalendar input{
    margin-top: 4px;
    margin-right: 5px;
}
.homepage .fc-event{
    background-color: #fbac03;
    border: #fbac03;
    color: #212529;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 2px;
}
.homepage tr th.fc-day-header{
    background-color: #fbac03;
}
.homepage #goDirectlyToCalendar{
    text-decoration: none;
    color: #212529;
    margin-left: 10px;
}
.homepage .removebtn {
    color:black;
    position: absolute;
    top: 0;
    right: 0;
    width:13px;
    height: 13px;
    text-align:center;
    border-radius:50%;
    font-size: 10px;
    cursor: pointer;
    background-color: #FFF
}
.homepage .drop-remove label{
    font-size:11px;
}
.homepage #linksCalendar{
    display:flex;
}
.homepage #throwPhoto{
    margin-top:15px; 
    margin-bottom: 15px;
}
.homepage #calendar{
    margin-bottom: 30px;
}

/*--LIST OF RECIPES--*/

.h1.allRecipes{
    margin-top: 20px;
    margin-bottom: 20px !important;
    font-size: 2rem;
}
.page-link{
    color: #fbac03 !important;
}
.page-item.active .page-link{
    color: white !important;
    background: #fbac03 !important;
    border: 2px #fbac03 !important;
}
.recipesIndex h5.card-title a{
    color: #fbac03 !important;
}
.recipesIndex .allRecipes{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.recipesIndex .recipeCard{
    box-shadow: inset 0px 0px 15px #888;
    width: 22%;
}
.recipesIndex .recipeCard a:hover{
    text-decoration: none;
}


/*--SHOW RECIPE--*/
#blocRecipe{
    display: flex;
    margin-top: 15px;
}
#blocRecipe img{
    width: 100%; 
    height: auto;
    border-radius: 5px;
}
/* #allBlockRecipe{
    border: 3px solid #fbac03 !important;
    border-radius: 5px;
} */
#contentRecipe{
    border-right: 5px solid #fbac03 !important;
    border-radius: 25px;
    margin-right: 15px;
}
#contentRecipe h1{
    margin-bottom: 20px;
}
#ingredientsAndDescription{
    display: flex;
    margin-top: 20px;
}
#ingredients{
    border-left: 5px solid #fbac03 !important;
    margin-right: 15px;
    border-radius: 25px;
    padding: 20px;
    height: max-content !important;
}
#recipeDescription{
    border-left: 5px solid #fbac03 !important;
    margin-right: 15px;
    border-radius: 25px;
    padding: 20px;
}
#detailsRecipe p{
    margin-bottom: 2px;
}

/*---ADMIN RECIPES---*/
h1.adminRecipe{
    margin-top: 25px !important; 
    margin-bottom: 25px !important;
}
.btn-perso{
    background-color: white;
    border: 1px solid #fbac03 !important;
}

/*---MANAGE OPTIONS---*/
.backRecipeList{
    margin-bottom:15px;
}
.optionPart{
    margin-bottom: 30px; 
    border: 1px solid #fbac03 !important;
    /*background-color: #fbac03;
    opacity: 0.7;*/
    padding: 15px; 
    border-radius: 10px;
}
.optionType{
    /*background-color: #fbac03;*/
    border: #fbac03 1px solid;
    text-align: center; 
    margin-left: 15px; 
    margin-bottom: 15px; 
    padding: 10px 12px; 
    border-radius: 3px;
}
.optionType button{
    /*background-color: #fbac03;*/
    border:none;
    background-color: white;
}
.optionPart h3{
    margin-bottom: 20px;
}


/*---MEAL PLANNING LIST---*/
h1.mealPlanningList{
    margin-top: 25px !important; 
    margin-bottom: 25px !important;
}
.mealPlanningAndShopList h2{
    margin-bottom: 15px !important;
}
.breakLine{
    border-top-color: #fbac03 !important;
}
.allShopList{
    border-right: 2px solid #fbac03 !important;
    padding: 15px !important;
    height: max-content;
}
.allMealPlanning{
    padding: 15px !important;
}
#shopListDiv span{
    margin-left: 10px;    
}
#saveToPdfButton, #sendMailButton{
    background-color:white !important;
    margin-top: 15px;
    margin-right: 10px;
    border: 1px solid #fbac03 !important;
}
.form-row-period{
    display: flex;
}

/*Recipe details*/
/* #contentRecipe{
    background-color: rgb(4, 202, 202);
    border-radius: 3px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
#detailsRecipe{
    background-color: cadetblue;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 3px; 
} */

/*--RESPONSIVE--*/
@media only screen and (max-width: 1000px) {
    .homepage .fc-header-toolbar{
        font-size: 14px;
    }
} 
@media only screen and (max-width: 850px) {
    .homepage .recipeCard{
        width: 45%;
    }
    .recipesIndex .recipeCard{
        width: 30%;
    }
    .recipesIndex div.card-body{
        padding: 0.7rem;
    }
    .recipesIndex h5.card-title{
        font-size: 1rem;
    }
    .recipesIndex p.card-text{
        font-size: 13px;
    }
} 
@media only screen and (max-width: 692px) {
    .allShopList {
        border-right: none !important;
    }
} 
@media all and (max-width: 600px) {
    
    /*--Homepage--*/
    #bandeauTitre{
        border-radius: 0rem !important;
    }
    h1{
        font-size: 2rem;
    }
    .homepage #external-events > p{
        display: none;
    }
    .homepage #accordion {
        display: none;
    }
    .homepage h2{
        font-size: 1.1rem;
    }
    .homepage #goDirectlyToCalendar{
        font-size: 13px;
    }
    .homepage body .fc{
        font-size: 0.9rem;
    }
    .homepage .fc-today-button{
        display: none;
    }
    .homepage .fc-toolbar h2{
        font-size: 1.3rem;
    }
    .homepage .fc-button .fc-icon{
        font-size: 0.9rem;
    }
    .homepage .dropRemoveCalendar{
        font-size: 13px;
    }
    .homepage #throwPhoto{
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .homepage h2.home.calendar{
        margin-bottom: 5px !important;
    }
    .homepage h5.card-title {
        font-size: 18px;
    }
    .homepage .card-text {
        font-size: 14px;
    }
    /*--Index recipes--*/
    .select2.select2-container.select2-container--default{
        width: 100% !important;
    }
    .h1.allRecipes{
        font-size: 1.5rem;
    }
    .recipesIndex .container{
        padding-right: 25px;
        padding-left: 25px;
    }
    .recipesIndex div.card-body{
        padding: 0.7rem;
    }
    .recipesIndex h5.card-title{
        font-size: 15px;
    }
    .recipesIndex p.card-text{
        font-size: 13px;
    }


    /*--Show recipe--*/
    #divImg{
        margin: auto;
        margin-bottom: 30px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    #contentRecipe {
        border-right: 5px solid #fbac03 !important;
        border-radius: 25px;
        margin-right: 15px;
    }
    #contentRecipe h1{
        font-size: 1.25rem; 
    }
    #allBlockRecipe h2, #recipeDescription h2{
        font-size: 1.1rem; 
    }
    #detailsRecipe p, #recipeDescription p{
        font-size: 13px;
        margin-bottom: 10px;
    }
    #ingredientsAndDescription{
        margin-top: 0px !important;
    }
    #ingredientsAndDescription ul{
        margin-bottom: 0px;
    }
    #ingredientsAndDescription li{
        font-size: 13px;
    }
    #allBlockRecipe{
        margin-top: 25px !important;
    }
    #blocRecipe img{
        border-radius: 0px;
    }
    #ingredients{
        border-radius: 0px;
        background-color: #fbac03;
    }
    #recipeDescription {
        border: 0 !important;
        border-left: 5px solid #fbac03 !important;
        border-radius: 25px;
    }

    /*--Admin recipe--*/
    .btn-perso{
        font-size: 13px !important;
        margin-bottom: 10px;
    }

    #blocPage h1{
        font-size: 1.25rem; 
    }

    #blocPage td{
        font-size: 13px;
    }

    /*--Admin options--*/
    .optionType{
        margin-right: 15px;
    }

    /*--ShopList--*/
    .allShopList{
        margin: auto !important;
    }
    .mealPlanningList{
        margin-top: 20px !important;
    }
}
@media only screen and (max-width: 400px) {
    .homepage .recipeCard{
        width: 48%;
    }
    .homepage div.card-body{
        padding: 0.7rem;
    }
    .homepage h5.card-title{
        font-size: 13px;
    }
    .homepage p.card-text{
        font-size: 12px;
    }
    .homepage .fc-header-toolbar {
        font-size: 12px;
    }
    .homepage .fc-toolbar h2 {
        font-size: 1.2rem;
    }


    .recipesIndex .recipeCard{
        width: 48%;
    }
    .recipesIndex div.card-body{
        padding: 0.7rem;
    }
    .recipesIndex h5.card-title{
        font-size: 14px;
    }
    .recipesIndex p.card-text{
        font-size: 12px;
    }
    .select2-results__option{
        font-size: 13px !important;
    }
    footer{
        font-size: 13px;
    }

    .form-control{
        font-size: 0.7rem;
    }
    .select2{
        font-size: 0.7rem;
    }
    .recipesIndex .btn.btn-primary{
        font-size: 0.7rem;
    }
    .recipeManagement .addNewRecipe{
        font-size: 15px;
    }

    .allOptions .btn-perso{
        font-size: 0.7rem !important;
    }
    .allOptions .btn{
        padding: .3rem .4rem;
    }

    .recipeManagement tr > td{
        width: 65px !important;
    }
    .recipeManagement td a.btn.btn-perso{
        padding-left: 5px;
        padding-right: 5px;
    }
    .recipeManagement td button.btn.btn-primary{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 13px !important;
        margin-bottom: 10px;
    }

    /*--Form Add Edit recipe--*/
    .formAddNewRecipe{
        margin-top: 10px !important;
    }
    .formAddNewRecipe h1, .formEditRecipe h1{
        margin-bottom: 20px;
    }
    .formAddNewRecipe label, .formEditRecipe label{
        font-size: 14px;
    }
    .formAddNewRecipe .add_ingredient_link{
        font-size: 14px;
    }
    .formAddNewRecipe fieldset legend{
        font-size: 14px;
    }
    .formEditRecipe .btn.btn-danger{
        font-size: 13px;
        width: 75px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .rowIngredient label, .rowIngredient fieldset legend{
        font-size: 13px;
    }
    .rowIngredient{
        justify-content: initial;
    }
    .formQuantity input{
        width: 55px;
    }
    .formUnit fieldset, .formIngredient fieldset{
        margin-bottom: 0;
    }
    .formIngredient input{
        width: 120px;
    }
    .deleteIngredient{
        font-size: 10px !important;
        padding: 3px;
        margin-left: auto;
    }
    .formEditRecipe .add_ingredient_link{
        font-size: 13px;
        margin-bottom: 10px;
    }
    .editRecipe.backRecipeList{
        margin-top: 10px;
        font-size: 12px;
        margin-bottom: 0;
    }

    /*--All Options--*/
    .allOptions .backRecipeList{
        font-size: 12px;
    }
    .optionPart{
        border:0 !important;
        margin-bottom: 10px;
    }
    .optionPart .row{
        margin: auto;
    }
    .optionType{
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: #fbac03 1px solid;
    }
    .optionType .optionName{
        font-size: 13px;
    }
    .actionsOptions{
        padding: 0;
        font-size: 10px;
    }
    #buttonSubmitDishType, #buttonSubmitFoodType, #buttonSubmitOption{
        margin-top: 15px;
        font-size: 14px;
    }
    h3{
        font-size: 22px;
    }

    /*--Corresponding Weight Ingredients--*/
    .correspondances h1{
        font-size: 22px;
    }
    .correspondances th{
        font-size: 14px;
    }
    .correspondances .th_ingredient{
        width: 100px !important;
    }
    .correspondances .th_unit{
        width: 85px !important;
        padding-left: 5px;
        padding-right: 5px;
    }
    .correspondances .td_unit{
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        width: 85px !important;
    }
    .correspondances table .btn-perso{
        padding: 5px;
    }
    .correspondances .td_actions{
        display: flex;
        padding-left: 3px;
        padding-right: 3px;
        justify-content: space-around;
    }
    .correspondances .td_actions .btn{
        padding: 5px;
    }
    .correspondances .td_actions .btn.btn-perso{
        height: 29px;
    }
    .correspondances .td_actions .btn.btn-primary{
        font-size: 13px;
    }
    .addCorrespondance{
        font-size: 14px;
    }

    /*--Liste de courses--*/
    .mealPlanningAndShopList h1{
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
    .mealPlanningAndShopList h2{
        font-size: 15px;
    }
    .formPeriodMealList .form-group{
        display: flex;
        align-items: baseline;
    }
    .formPeriodMealList .form-group label{
        font-size: 13px;
    }
    .formPeriodMealList .form-group input{
        width: 100px;
        margin-left: 5px;
    }
    .formPeriodMealList .btn.btn-primary{
        font-size: 13px;
        padding: 5px;
    }
    .formPeriodMealList .form-row-period{
        display: flex;
    }
    .formPeriodMealList .form-row-period > div{ 
        padding-left: 0;
    }
    #shopListDiv span{
        font-size: 13px;
    }
    #saveToPdfButton.btn.btn-primary, #sendMailButton.btn.btn-primary{
        font-size: 13px;
        background: #fbac03 !important;
    }
    .allMealPlanning th{
        font-size: 13px;
    }
    .allShopList{
        background: none !important;
    }

}
@media only screen and (max-width: 350px) {
    .homepage .fc-header-toolbar {
        font-size: 11px !important;
    }
    .homepage .fc-toolbar h2 {
        font-size: 1rem;
    }
    .optionType {
        margin-right: 0;
    }
}

/* Autocomplete CSS */
.algolia-autocomplete {
    width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
    width: 100%;
}
.algolia-autocomplete .aa-hint {
    color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid #999;
    border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
}
