/*Homepage*/
#bandeauTitre{
    background-color: #5ee5a1 !important;
}
h1{
    color: black;
}
/*Liste de courses*/
h2{
    margin-top: 20px;
    margin-bottom: 10px !important;
}
/*Recipe details*/
#contentRecipe{
    background-color: rgb(4, 202, 202);
    border-radius: 3px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
#detailsRecipe{
    background-color: cadetblue;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 3px; 
}
/*Liste de courses*/
h2.home{
    margin-top: 20px;
    margin-bottom: 10px !important;
}
@media screen and (max-width: 600px) {
    #accordion {
      display: none;
    }
    body .fc{
        font-size: 0.9rem;
    }
    .fc-today-button{
        display: none;
    }
    .fc-toolbar h2{
        font-size: 1.1rem;
    }
    .fc-button .fc-icon{
        font-size: 0.9rem;
    }
}

.fc-event{
    background-color: red;
    border: red;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 2px;
}
.btn.btn-primary{
    background-color: #5ee5a1 !important;
    border: #5ee5a1 !important;
    color: black;
}

/* Autocomplete CSS */
.algolia-autocomplete {
    width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
    width: 100%;
}
.algolia-autocomplete .aa-hint {
    color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid #999;
    border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal;
}
