{% extends 'base.html.twig' %}

{% block title %}Edit MealPlanning{% endblock %}

{% block body %}
    <h1>Edit MealPlanning</h1>

    {{ include('meal_planning/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('meal_planning.index') }}">back to list</a>

    {{ include('meal_planning/_delete_form.html.twig') }}
{% endblock %}
