{% extends 'base.html.twig' %}

{% block title %}Edit BuyList{% endblock %}

{% block body %}
    <h1>Edit BuyList</h1>

    {{ include('buy_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('buy_list.index') }}">back to list</a>

    {{ include('buy_list/_delete_form.html.twig') }}
{% endblock %}
