{% extends "base.html.twig" %}

{% block title 'Éditer cet ingrédient dans la recette' %}

{% block body %}   
    <div class="container mt-4">
        <h1>Éditer l'ingrédient</h1>
        {{ include("admin/recipe_ingredients/_form.html.twig", {form: form, button: 'Éditer'}) }}
    </div>

{% endblock %}