{% extends "base.html.twig" %}

{% block title 'Ajouter un nouvel ingrédient à la recette' %}

{% block body %}   
    <div class="container mt-4">
        <h1>Ajouter un nouvel ingrédient à la recette <span id="recipeName">{{ recipe_name }}</span></h1>
        {{ include("admin/recipe_ingredients/_form.html.twig", {form: form, button: 'Créer'}) }}
    </div>

{% endblock %}