{% extends "base.html.twig" %}

{% block title 'Voir toutes mes recettes' %}

{% block body %}
    <div class="container mt-4">
        <h1>Voir toutes mes recettes</h1>
        <p>Toutes réunies en une seule page</p>
    </div>
{% endblock %}