{% extends 'base.html.twig' %}

{% block title %}Edit CorrespondingWeightsUnities{% endblock %}

{% block body %}

    <div style="margin-bottom:15px;">
        <a class="btn btn-secondary editRecipe backRecipeList" href="{{ path('admin.corresponding.index') }}">Retour à la liste</a>
    </div>  

    <div class="container mt-4 formEditRecipe">
        <h1>Éditer la correspondance ingrédient / poids</h1>
        {{ include('corresponding_weights_unities/_form.html.twig', {'button_label': 'Éditer'}) }}
    </div>

{% endblock %}
