{% extends 'base.html.twig' %}

{% block title %}Nouvel ingrédient de la recette{% endblock %}

{% block body %}
    <h1>Créer un nouvel ingrédient</h1>

    {{ include('recipe_ingredients/_form.html.twig') }}

    <a href="{{ path('recipe_ingredients.index') }}">Revenir à la liste</a>
{% endblock %}
