{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Oups ! Cette page n'a pas été trouvée...</h1>

    <p>
        Vérifie l'URL ou <a href="{{ path('home') }}">retourne à la page d'accueil</a>.
    </p>
{% endblock %}